
@import "leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply font-sans font-normal text-gray-900 dark:text-gray-100 bg-white dark:bg-gray-900;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-semibold;
  }
  strong {
    @apply font-medium;
  }
}

:root { color-scheme: light dark; }
body { @apply text-gray-900 dark:text-gray-100; }

/* Swiper tweaks */
.swiper { padding-bottom: 8px; }
.swiper-slide { width: 240px; }

t-bg-blue { background-color: #6d67ff !important; }
bg-blue-dark { background-color: #5c4dff; }
bg-blue-light { background-color: #7c72ff; }
text-blue { color: #6d67ff; }
text-blue-dark { color: #5c4dff; }
text-blue-light { color: #7c72ff; }
border-blue { border-color: #6d67ff; }
border-blue-dark { border-color: #5c4dff; }
border-blue-light { border-color: #7c72ff; }
hover-bg-blue:hover { background-color: #5c4dff; }
hover-bg-blue-dark:hover { background-color: #4c3dff; }
hover-bg-blue-light:hover { background-color: #8c82ff; }
hover-text-blue:hover { color: #5c4dff; }
hover-text-blue-dark:hover { color: #4c3dff; }
hover-text-blue-light:hover { color: #8c82ff; }
hover-border-blue:hover { border-color: #5c4dff; }
hover-border-blue-dark:hover { border-color: #4c3dff; }
hover-border-blue-light:hover { border-color: #8c82ff; }   
white-icon { color: #ffffff !important; } 

.-top-2\.4 {
    top: -0.5rem;
}

/* Hide horizontal scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

.leaflet-popup{ bottom: 21px !important; left: -173px !important; }
.leaflet-popup-content p {
  margin: 0;
}
.user-location-marker{ border-radius: 50%; }

.shake {
  animation: shake 0.42s ease-in-out;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20% { transform: translateX(-6px); }
  40% { transform: translateX(6px); }
  60% { transform: translateX(-6px); }
  80% { transform: translateX(6px); }
}